

.product-cart {
    border: 1px solid black;
    padding: 10px 20px;
    margin: 10px;
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: space-between;
}

.product-cart img {
    height: 90px;
    flex: 1;

}

.product-cart .description {
    flex: 4;

}

.product-cart label {
    flex: 2;
}

.product-cart .btn {
    flex: 1;

}